<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reload.reloadmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:compatibleWidthLimitDp="600"
        android:largeScreens="true"
        android:largestWidthLimitDp="720"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="120"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReloadMobile">
        <activity
            android:name=".WalletWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".WalletWebViewMainActivity"
            android:exported="false" />
        <activity
            android:name=".WalletWebActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentConfirmation"
            android:exported="false" />
        <activity
            android:name=".Activity.VerifyProductActivity"
            android:exported="false" />

        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_46d94e01c29197f534e456edbd41ee7a28083aa8" />

        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".AllMerchantsActivity"
            android:exported="true" />
        <activity
            android:name=".PasswordResetActivity"
            android:exported="true" />
        <activity
            android:name=".OTPActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>